<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="right">
      <br/>
      <h1>
        FairyGUI<sup>3</sup>
      </h1>
      <br/><br/><br/>
        超强 UI 制作工具，跨平台开源 UI 解决方案
      <br/><br/>
        Unity、Staring、Egret、LayaAir、Haxe、Pixi、LibGDX and more……
      <br/>
      <p>
        <a class="button" href="<%- url_for("/product/") %>">立即获取</a>
      </p>
    </div>
  </div>
</div>

  </br></br></br></br>
  <div class="software">
    <img src="<%- url_for("/images/software.png") %>">
  </div>

</div>

<div id="highlights">
  <div class="inner">
    <div class="box big">
      <div class="left">
        <img src="<%- url_for("/images/guzhu.png") %>">
      </div>
      <div class="right">
        <p>
          重新定义 UI 制作流程，全可视化，零代码，是一款同时适用于程序员、设计师和游戏策划的 UI 制作工具。<br>
配合FairyGUI-SDK，在各个游戏引擎都能得到高效的渲染表现，独特的FairyBatching技术可自动优化复杂界面的DC数量。
        </p>
      </div>
    </div><br>
  </div>
</div>

<div id="bottom-download">
  UI 制作的全新体验，下载仅需五秒！快来体验吧！
  <p>
    <a class="button" href="<%- url_for("/product/") %>">立即获取</a>
  </p>
</div>

<div id="footer">

  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
  <br/><br/><br/>

  官方QQ群: 一群 434866637（已满） 二群 614444599<br>
  &copy; FairyGUI.com 2014-<%- new Date().getFullYear() %> <a href='http://www.miitbeian.gov.cn/'>粤ICP备15041112号</a> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256364934'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256364934%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
<br/>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
